*{
    margin: 0; padding: 0; box-sizing: border-box;  
}

body{
    width: 100%; height: 100vh; display: flex; flex-direction: column;
    align-items: center; justify-content: center; 
    font-family: sans-serif; background: #171717;
}

.container_box{
    display: flex; flex-direction: column; 
    border-radius: 12px; padding: 28px 15px; background: #111;
    max-width: 320px;
}

.row-container{
    display: flex; flex-direction: row;  gap: 8px;
}

.row-container input{
    width: 50%;
}

h1{
    text-align: center; font-size: 20px; font-weight: 600; padding-bottom: 5px;
    color: #14c996;
}

p{
    text-align: center; font-weight: 400; font-size: 12px; color: #fff;
}

form{
    width: 100%; display: flex; flex-direction: column; gap: 10px;
    padding-top: 12px;
}

input{
    border: none; outline: none; border-radius: 6px; padding: 14px 12px;
    transition: all 0.5s; font-size: 15px; font-weight: 700;
    width: 100%; background: #fff;
}

i{
    color: #000; cursor: pointer; padding-right: 2rem;
}

.pasw-field{
    display: flex; flex: 1; align-items: center; justify-content: space-between;
    background: #fff;
    border-radius: 6px; border: none; outline: none; 
}

.error{
    border: 2px solid #c44141 !important;
}

.success{
    border: 2px solid #45ffca !important;
}

.bot-text{
    padding-top: 12px;
}

span{
    color: #45ffca; cursor: pointer;
}

.btn{
    background: #14c996; color: #fff; text-align: center;
    border-radius: 6px; outline: none; border: none; padding: 12px;
    font-size: 16px; font-weight: 600; letter-spacing: 1px; cursor: pointer;
}

.btn2{
    background: #367b67;
}

.btn:hover{
    color: #fff; background: #45ffca;
    box-shadow: 0 0 2px #45ffca; font-weight: 900;
}

input.active{
    padding-top: 14px; padding-bottom: 6px; font-weight: 500; 
    font-size: 13px;
}

